/* Filters */
.table-headers {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.table-header {
  width: 100%;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  border-radius: 1rem;
  padding: 0.7rem;
  width: 100%;
  margin: 0.4rem 0;
  max-height: 3rem;
}

.title:hover {
  cursor: pointer;
  background-color: var(--secondary-color);
  color: #fff;
}

.title.active {
  cursor: pointer;
  background-color: var(--main-color);
  color: #fff;
}

.filters-box {
  display: inline-flex;
  background-color: var(--faded-color);
  border-radius: 1rem;
  padding: 0.5rem;
  margin-bottom: 0.4rem;
}

.is-open {
  display: flex;
}

.filters {
  display: flex;
  flex-wrap: wrap;
}

.filter {
  display: inline-flex;
  flex-direction: column;
  min-width: 18rem;
  min-height: 4.5rem;
  flex: 1 1 auto;
}

.is-open {
  display: inline-flex;
}

.filter-break {
  height: 0.3rem;
}

.arrow {
  cursor: pointer;
}

/* Table */
table {
  border-collapse: collapse;
  width: 100%;
  overflow-y: auto;
  border-style: hidden;
  border-radius: 1rem;
  overflow: hidden;
}

thead {
  background-color: var(--faded-color);
}

th,
td {
  text-align: center;
}

th {
  color: var(--main-color);
  padding: 4px 8px;
  height: 3rem;
}

.header-cell {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

table .header-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 5%;
  width: 100%;
}

table .header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-width: 70%;
}

.sorting-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  width: 40%;
}

.sorting-button {
  border: none;
  color: #fff;
  font-size: 0.9rem;
  margin: -0.2rem 0;
}

table .actions .header-text {
  display: flex;
  justify-content: center;
}

tbody tr:hover {
  background-color: var(--faded-color);
}

tbody tr:active {
  background-color: var(--main-color);
  color: var(#fff);
}

td {
  padding: 8px;
}

/* Actions Column */
.actions {
  display: flex;
  justify-content: center;
  width: 100%;
  column-gap: 0.5rem;
}

.action {
  cursor: pointer;
}

/* Pagination */
.page-count,
.page-buttons {
  display: flex;
  justify-content: center;
}

.page-button {
  font-size: 1.5rem;
  background-color: var(--main-color);
  color: #fff;
  width: 2rem;
  margin: 0.5rem 0.05rem;
  border: 0;
  cursor: pointer;
  height: 2.25rem;
}

.page-button:disabled {
  cursor: default;
  background-color: var(--faded-color);
  color: #fff;
}
