/* Data Headers */
.data-headers {
  width: 100%;
}

.data-headers,
.data-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.data-header {
  border-radius: 1rem;
  width: 20%;
  min-height: 2rem;
  max-height: 3rem;
}

.data-header:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

.data-header:active,
.data-header.active {
  background-color: var(--main-color);
  color: #fff;
}

.edit-text,
.data-text,
.data-header .action-button {
  padding: 0.5rem;
}

/* Data */
.data {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

/* Rows */
.row,
.sub-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 0 50%;
  width: 100%;
  height: auto;
  min-height: 2rem;
  border-bottom: 1px solid var(--secondary-color);
}

.header {
  width: 30%;
  padding: 0 0 0 1rem;
}

.value {
  /* flex: 1; */
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Special Rows */
.extended-row {
  display: flex;
  flex-direction: column;
}

.extended-row .header {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  min-height: 2rem;
  border-bottom: 1px solid var(--secondary-color);
  padding: 0;
}

.extended-row .header .arrow {
  width: 5%;
  margin: 0;
  display: flex;
  justify-content: center;
}

.extended-row .header .header-text {
  width: 25%;
}

.extended-row .value {
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.25rem;
  border-radius: 1rem;
  background-color: var(--faded-color);
}

.extended-row .value.table {
  justify-content: center;
  align-items: center;
}

.extended-row .value.table .sorting-button {
  color: #fff;
}

.extended-row .value.open {
  display: flex;
}

.sub-row {
  border-bottom: none;
}

.sub-row.not-first {
  border-top: 1px solid var(--secondary-color);
}

.sub-row .sub-header {
  padding: 0 0 0 5rem;
  width: 40%;
}

/* Submit Button */
.submit-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
}

.submit-edit .submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
