/* Input */
.input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 35%;
  height: 100%;
}

input {
  border-radius: 1rem;
  padding: 0.3rem;
}

/* PhoneNumber Input */
input.phone-number {
  min-width: 7rem;
}
