* {
  --main-color: #000;
  --secondary-color: #777;
  --faded-color: #bbb;
}

/* Logo CSS */
#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main CSS */
main {
  font-size: 1rem;
  grid-row: 2 / 11;
  grid-column: 1 / 8;
}

main.accessed {
  grid-column: 2 / 8;
}

/* Spinner */
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

/* Action Buttons: */
/* EditButton, DeleteButton */
.action-button:active {
  background-color: var(--main-color);
  color: #fff;
}
