/* Input */
.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 35%;
  height: 100%;
}

input {
  border-radius: 1rem;
  padding: 0.3rem;
}

/* PhoneNumber Input */
input.phone-number {
  min-width: 7rem;
  width: 50%;
}

/* String Input */
.auto-resize-input {
  font-size: 1rem;
  padding: 0.12rem;
  border: 0.09rem solid #ccc;
  box-sizing: content-box;
  transition: width 0.2s ease;
}

#hidden-span {
  visibility: hidden;
  white-space: pre;
  font-size: 1rem;
  position: absolute;
  left: 0;
}

/* Foreign Input */
.object-header,
.array-header {
  display: flex;
  flex-direction: row;
}

input.object,
input.array {
  width: 100%;
  border: none;
}

input.object:focus,
input.array:focus {
  outline: none;
}

/* Pop Up */
.pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  width: 90%;
  border-radius: 1rem;
  z-index: 1;
}

.pop-up .sorting-buttons {
  align-items: flex-end;
}

.pop-up-header {
  display: flex;
  flex-direction: row;
}

.pop-up-header strong,
.pop-up-header .no-visibility-button {
  margin: 0.5rem;
}

.pop-up-header strong {
  flex: 1;
  font-size: 2rem;
}

.pop-up-header .no-visibility-button {
  flex: 0.1;
}

.add-element {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.add-element input {
  max-width: 4rem;
}

.add-element input.ware-obj {
  max-width: none;
  width: 85%;
}

.add-element .element-part {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
}

.add-element .element-part.ware {
  flex: 7;
}

.element-part p {
  padding-right: 1rem;
}

.add-element-button {
  border: 0.1rem solid #000;
  margin: 0.2rem;
}
