/* Input */
.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 35%;
  height: 100%;
}

input {
  border-radius: 1rem;
  padding: 0.3rem;
}

/* PhoneNumber Input */
input.phone-number {
  min-width: 7rem;
  width: 50%;
}

/* String Input */
.auto-resize-input {
  font-size: 1rem;
  padding: 0.12rem;
  border: 0.09rem solid #ccc;
  box-sizing: content-box;
  transition: width 0.2s ease;
}

#hidden-span {
  visibility: hidden;
  white-space: pre;
  font-size: 1rem;
  position: absolute;
  left: 0;
}

/* Foreign Input */
.foreign-header {
  display: flex;
  flex-direction: row;
}

input.foreign {
  width: 100%;
  border: none;
}

.pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  width: 75%;
  border-radius: 1rem;
  z-index: 1;
}

.pop-up .sorting-buttons {
  align-items: flex-end;
}

.pop-up-header {
  display: flex;
  flex-direction: row;
}

.pop-up-header strong,
.pop-up-header .no-visibility-button {
  margin: 0.5rem;
}

.pop-up-header strong {
  flex: 1;
  font-size: 2rem;
}

.pop-up-header .no-visibility-button {
  flex: 0.1;
}
