/* DropDown CSS */
.select-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1.4rem;
  height: 100%;
}

.custom-select {
  position: relative;
  width: 30rem;
}

.custom-select.single {
  max-width: 17rem;
  min-width: 7rem;
}

.select-box {
  border-radius: 1rem;
  background-color: #fff;
  border: 0.15rem solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 2.5rem;
  padding: 0 0.625rem;
}

.arrow {
  margin: 0 0.65rem;
}

.options {
  display: none;
  position: absolute;
  width: 100%;
  border-radius: 1rem;
  background-color: #fff;
  border: 1px solid var(--faded-color);
  border-top: none;
  max-height: 15rem;
  overflow-y: auto;
  z-index: 1;
  box-shadow: 0 0.25rem 0.5rem #000;
}

.options.open {
  display: block;
}

.option {
  padding: 0.75rem;
  cursor: pointer;
}

.option.active {
  color: #000;
  background-color: var(--faded-color);
  border-bottom: 1px solid #fff;
}

.option:hover {
  background-color: var(--secondary-color);
}
