table {
  border-collapse: collapse;
  width: 100%;
  overflow-y: auto;
}

th,
td {
  text-align: center;
  border-bottom: 1px solid var(--faded-color);
}

th {
  color: var(--secondary-color);
  padding: 4px 8px;
  border-top: 1px solid var(--faded-color);
  height: 3rem;
}

.header-cell {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

table .header-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 5%;
  width: 100%;
}

.sorting-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* padding-left: 0.8rem; */
  cursor: pointer;
  width: 40%;
}

.sorting-button {
  border: none;
  color: var(--faded-color);
  font-size: 0.9rem;
  margin: -0.2rem 0;
}

table .actions .header-text {
  display: flex;
  justify-content: center;
}

tbody tr:hover {
  background-color: var(--faded-color);
}

tbody tr:active {
  background-color: var(--main-color);
  color: var(#fff);
}

td {
  padding: 8px;
}

/* Actions Column */
.actions {
  display: flex;
  justify-content: center;
  width: 100%;
  column-gap: 0.5rem;
}

.action {
  cursor: pointer;
}

/* Pagination */
.page-count,
.page-buttons {
  display: flex;
  justify-content: center;
}

.page-button {
  font-size: 1.5rem;
  background-color: var(--main-color);
  color: #fff;
  width: 2rem;
  margin: 0.5rem 0.05rem;
  border: 0;
  cursor: pointer;
}

.page-button:disabled {
  cursor: default;
  background-color: var(--faded-color);
  color: #fff;
}
