/* Sidebar CSS */
.sidebar {
  display: flex;
  grid-area: 2 / 1 / span 10 / 2;
}

.nav-menu {
  background-color: #fff;
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 0px 0px 16px;
  list-style: none;
  height: 3rem;
}

.nav-text a {
  text-decoration: none;
  color: #151414;
  font-size: 1.25rem;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 12px;
}

.nav-text a:hover {
  background-color: var(--secondary-color);
  color: #fff;
}

.nav-text a.active {
  background-color: var(--main-color);
  color: #fff;
}

.nav-menu-items {
  width: 100%;
}

span {
  margin-left: 16px;
}
